@use "sass:color";
$color-light-purple: #e3c2ef;
$color-purple: #6b67b7;
$color-dark-blue: #00236b;
$color-blue: #084785;
// $color-light-blue: #347fb9;

// $color-light-purple: #141a47;
// $color-purple: #4e80bf;
// $color-dark-blue: #9999ff;
// $color-blue: #4e80bf;
